
/* =======================
*          header
======================= */

/* Menu */
.mx-head-line{
  background-color: #1d1001;
}
.mx-nav_line{
  top: 0px;
  display: table;
  width: 100%;
  color: #000;
  z-index: 998;
}
.mx-logo{
  display: table;
  float: left;
  padding: 18px;
  font-size: 20px;
  font-weight: bold;
}
.mx-logo a{
  display: table;
  float: left;
}
.mx-nav_wrap{

}
ul.mx-nav{
  display: table;
  float: right;
  margin-right: 10px;
}
ul.mx-nav li{
  float: left;
}
ul.mx-nav li a{
  padding: 30px 10px;
  display: block;
  color: #585151;
  font-size: 17px;
}
ul.mx-nav li a:hover{
  color: #fff;
}
ul.mx-nav li.mx-nav_actie a{
  color: #fff;
}
.mx-button_small{
  position: relative;
  display: none;
  float: right;
  padding: 9px 10px;
  margin-top: 0px;
  margin-right: 30px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}
.mx-button_small:hover{
  background-color: #ddd;
  cursor: pointer;
  outline: none;
}
.mx-button_icon{
  background-color: #888;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  margin: 3px 0px;
}

.mx-navbar-brand{
  display: block;
  width: 159px;
}
.mx-navbar-brand img{
  width: 100%;
}

.mx-grid_4_menu{
  margin-bottom: 40px;
}
.mx-name_food{
    font-family: 'Merriweather-UltraBold';
    color: #fff;
}

/* Sub menu */
ul.mx-nav{
  position: relative;
}
ul.mx-nav > li > ul{
  position: absolute;
  width: 200px;
  display: none;
  top: 80px;
  right: 50%;
  margin-right: -100px;
  background-color: #1d1001;
  z-index: 887;
}
ul.mx-nav > li > ul > li{
  float: none;
}
ul.mx-nav > li > ul > li:hover{
  background-color: #291702; 
}
ul.mx-nav > li > ul > li a{
  padding: 4px 20px;
}
ul.mx-nav > li:hover ul{
  display: block;
}

@media only screen and (max-width: 768px){
  .mx-nav_line{
    background: transparent;
    border: none;
  }
  ul.mx-nav{
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
  }
  .mx-logo{
    width: 100%;
    padding: 16px;
    padding-top: 6px;
  }
  .mx-button_small{
    display: block;
    margin-top: 12px;
  }
  ul.mx-nav li{
    float: none;
  }
  ul.mx-nav li a {
    padding: 7px 10px;
  }
  .mx-logo {
    border-bottom: 1px solid #ddd;
  }
  .mx-logo a {
    margin-top: 8px;
  }
  ul.mx-nav > li > ul {
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    border: none;
    background-color: #1d1001;
  }
  ul.mx-nav > li > ul > li{
    float: left;
    width: 50%;
  }
  ul.mx-nav > li > ul > li a {
    padding: 10px 25px;
  }
  ul.mx-nav > li:hover ul{
    display: none;
  }
}