footer
	script(type="text/javascript" src="js/jquery-1.11.3.js")

	<!--[if gt IE 7]>	
	script(type="text/javascript" src="add/placeholder_ie.js") 
	script(type="text/javascript" src="add/respond.min.js")  
	<![endif]-->

	//common
	script(type="text/javascript" src="js/common.js")
