head
	title.
		Based Template Site
	meta(charset="utf-8" '/')
	meta(name="format-detection" content="telephone=no" '/')
	meta(http-equiv="x-rim-auto-match" content="none" '/')
	meta(http-equiv="X-UA-Compatible" content="IE=edge" '/')
	meta(name="viewport" content="width=device-width, initial-scale=1.0" '/')

	<!--[if lt IE 9]> 
	script(type="text/javascript" src="add/html5shiv.min.js")
	<![endif]-->

	//Bootstrap
	link(rel="stylesheet" href="add/bootstrap/bootstrap-grid-3.3.1.min.css")

	//Reset
	link(rel="stylesheet" href="css/style.css")